.dotfiles
Desktop
Documents
Downloads
Pictures
workspace
.bash*
.zh*
.Xauthority
.cache/
.dmrc
.fehbg
.gitconfig
.local/
.oh-my-zsh/
.pki/
.redhat/
.ssh/
.vscode/
.xsession-errors
.xsession-errors.old
.zcompdump-archlinux-5.9
.zcompdump-archlinux-5.9.zwc
.zsh_history
.zshrc
.gtkrc-2.0
.icons/
.profile

!.config
.config

!.config/xsettingsd/
